/*Here lies CSS*/
html {
    scroll-behavior: smooth;
  }

#mainTitle {
    margin-top: 10%;
    font-weight: 500;
    color: #f58220;
    font-weight: bold;
    font-size: 7vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
/*57a5b2*/

#subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    color: #f58220;
    padding-top: 2vh;
    font-weight: 200;
    font-size: 2vw;
}

#buttonText {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    margin-top: 45px;
}

#buttonText-2 {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    margin-top: 1.25vh;
}

#buttonText-3 {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding-top: 1.25vh;
}

#button-1 {
    width: 13vw;
    height: 5vh;
    background-color: #f58220;
    margin-top: 16vh;
    opacity: 0;
    -webkit-animation: 3s fadein-2 ease 4.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: 3s fadein-2 ease 4.5s; /* Firefox < 16 */
    -ms-animation: 3s fadein-2 ease 4.5s; /* Internet Explorer */
    -o-animation: 3s fadein-2 ease 4.5s; /* Opera < 12.1 */
    animation: 3s fadein-2 ease 4.5s;
    animation-fill-mode: forwards;
    transition-duration: 2s;
}

#button-1:hover {
    cursor: pointer;
    background-color: #f15922;
}



/* welcome section */

#mainContainer {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

#videoDiv {
   width: 100vw;
   overflow-x: hidden;
   position: sticky;
   z-index: -1;
   top: 0;
}

#videoDiv video {
    overflow-x: hidden;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

#overlay {
    position: absolute;
    margin: 0 auto;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    opacity: .80;
    
}

#introCon {
    top: 0vh;
    width: 100vw;
    position: absolute;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
    transition: all 2s ease;
}


#titleCon {
    padding-top: 16%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2vh;
}

#subtitleCon {
    margin-top: 1vh;
    opacity: 0;
    -webkit-animation: 3s fadein-2 ease 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: 3s fadein-2 ease 4s; /* Firefox < 16 */
    -ms-animation: 3s fadein-2 ease 4s; /* Internet Explorer */
    -o-animation: 3s fadein-2 ease 4s; /* Opera < 12.1 */
    animation: 3s fadein-2 ease 4s;
    animation-fill-mode: forwards;
}

@keyframes fadein-2 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#dec-line {
    border-bottom: solid 2px #f15922;
    margin: 0 auto;
    opacity: 0;
    -webkit-animation: 1s line-grow ease 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: 1s line-grow ease 3s; /* Firefox < 16 */
    -ms-animation: 1s line-grow ease 3s; /* Internet Explorer */
    -o-animation: 1s line-grow ease 3s; /* Opera < 12.1 */
    animation: 1s line-grow ease 3s;
    animation-fill-mode: forwards;
}

@keyframes line-grow {
    from { width: 0vw; opacity:0; }
    to   { width: 50vw; opacity:1;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#city-studio-london-logo {
    top: 3%;
    padding: 2%;
    width: 10%;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
}

#city-studio-london-logo:hover {
    cursor: pointer;
}

#projButton {
    heighT: 125px;
    width: 125px;
    border-radius: 50%;
    margin: 0 auto;
    bottom: 90px;
    right: 90px;
    background-color: #94BEDD;
    position: absolute;
    text-align: center;
}

  
  #projButton:after {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-shadow: inset 0 0 0 3px #94BEDD;
    transition: transform 0.2s, opacity 0.2s;
  }
  
  #projButton:hover:after {
    transform: scale(1.75);
    opacity: 0.8;
  }
  
  .pulsing:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-shadow: inset 0 0 0 3px #94BEDD;
    transition: transform 0.2s, opacity 0.2s;
    animation: pulsing 2.7s infinite;
  }
  
  @keyframes pulsing {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }


/* motive con*/

#motiveCon {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    opacity: 0;
    transition: all 2s ease;
    display: flex;
    align-content: center;
    justify-content: center;
}

#motiveText-con {
    position: relative;
    margin-top: 13%;
    text-align: center;
    width: 70%;
    height: 60%;
}

#motiveTitle {
    font-weight: 500;
    color: #f58220;
    font-weight: bold;
    font-size: 4vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#motiveIcon-Con {
    width: 100%;
    height: 50%;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

#motiveIcon-1 {
    width: 30%;
    padding: 1%;
    background-color: gray;
}

#motiveIcon-2 {
    width: 30%;
    padding: 1%;
    background-color: gray;
}

#motiveIcon-3 {
    width: 30%;
    padding: 1%;
    background-color: gray;
}

#button-2 {
    width: 13vw;
    height: 5vh;
    margin-top: 21%;
    margin: 0 auto;
    background-color: #f58220;
    transition-duration: 2s;
}

#button-2:hover {
    cursor: pointer;
    background-color: #f15922;
}


  /*credits con*/ 

#creditsCon {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    opacity: 0;
    transition: all 3s ease;
    display: flex;
    align-content: center;
    justify-content: center;
}

#creditsText-con {
    position: relative;
    margin-top: 13%;
    width: 70%;
    height: 60%;
}

#credits-row {
    display: flex;
    flex-direction: row;
}

#credits-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#creditsTitle {
    font-weight: 500;
    color: #f58220;
    font-weight: bold;
    font-size: 4vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.creditsLogo {
    height: 20%;
    width: 15%;
    padding: 3%;
}


